/*!
 *  Hack v2.019 - https://sourcefoundry.org/hack/
 *  Licenses - Fonts: Hack Open Font License + Bitstream Vera license, CSS: MIT License
 */
/* FONT PATHS
 * -------------------------- */
@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-regular-latin-webfont.woff2') format('woff2'),
       url('../fonts/hack-regular-latin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.wf-active body {
  font: 81.25% 'Hack', monospace;
}

.wf-active h1,
.wf-active h2,
.wf-active h3,
.wf-active h4,
.wf-active h5,
.wf-active h6 {
  font: 100% 'Hack', monospace;
}
