---
---
@import 'colors';

$left-margin: 4ch;

h1, h2, h3, h4, h5, h6, hr, li, p, ul, {
  max-width: 62ch;
}

html {
  font-family: monospace;
  font-size: 123.0769231%;
  line-height: 1.5rem;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: $base3;
  color: $base00;
  margin: 0;
  padding-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: $red;
  font: normal 1rem monospace;
  margin: 1.5rem $left-margin;

  a, a:visited, a:hover {
    color: $red;
    text-decoration: none;
  }
}

h1:before {
  content: '# ';
  margin-left: -2ch;
}

h2:before {
  content: '## ';
  margin-left: -3ch;
}

figure {
  margin: 1.5rem 0;

  &.highlight {
    background: $base03;

    pre {
      margin-left: $left-margin;
      overflow: scroll;
      padding: 1.5rem 0;
    }
  }
}

pre {
  margin: 0;
}

p {
  margin: 1.5rem $left-margin;

  code:before, code:after {
    color: $red;
    content: "`";
  }
}

ul {
  list-style: none;
  margin: 0 $left-margin;
  padding: 0;

  li {
    &:before {
      color: $base1;
      content: "* ";
      margin-left: -2ch;
    }
  }
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $violet;
  }
}

hr {
  line-height: 1.5rem;
  margin: 0 $left-margin;
  text-align: center;
  border: 0;

  &:before {
    color: $cyan;
    content: "* * *";
  }
}

.highlight {
  .c { color: $base01 } /* Comment */
  .err { color: $base1 } /* Error */
  .g { color: $base1 } /* Generic */
  .k { color: $green } /* Keyword */
  .l { color: $base1 } /* Literal */
  .n { color: $base1 } /* Name */
  .o { color: $green } /* Operator */
  .x { color: $orange } /* Other */
  .p { color: $base1 } /* Punctuation */
  .cm { color: $base01 } /* Comment.Multiline */
  .cp { color: $green } /* Comment.Preproc */
  .c1 { color: $base01 } /* Comment.Single */
  .cs { color: $green } /* Comment.Special */
  .gd { color: $cyan } /* Generic.Deleted */
  .ge { color: $base1; font-style: italic } /* Generic.Emph */
  .gr { color: $red } /* Generic.Error */
  .gh { color: $orange } /* Generic.Heading */
  .gi { color: $green } /* Generic.Inserted */
  .go { color: $base1 } /* Generic.Output */
  .gp { color: $base1 } /* Generic.Prompt */
  .gs { color: $base1; font-weight: bold } /* Generic.Strong */
  .gu { color: $orange } /* Generic.Subheading */
  .gt { color: $base1 } /* Generic.Traceback */
  .kc { color: $orange } /* Keyword.Constant */
  .kd { color: $blue } /* Keyword.Declaration */
  .kn { color: $green } /* Keyword.Namespace */
  .kp { color: $green } /* Keyword.Pseudo */
  .kr { color: $blue } /* Keyword.Reserved */
  .kt { color: $red } /* Keyword.Type */
  .ld { color: $base1 } /* Literal.Date */
  .m { color: $cyan } /* Literal.Number */
  .s { color: $cyan } /* Literal.String */
  .na { color: $base1 } /* Name.Attribute */
  .nb { color: $yellow } /* Name.Builtin */
  .nc { color: $blue } /* Name.Class */
  .no { color: $orange } /* Name.Constant */
  .nd { color: $blue } /* Name.Decorator */
  .ni { color: $orange } /* Name.Entity */
  .ne { color: $orange } /* Name.Exception */
  .nf { color: $blue } /* Name.Function */
  .nl { color: $base1 } /* Name.Label */
  .nn { color: $base1 } /* Name.Namespace */
  .nx { color: $base1 } /* Name.Other */
  .py { color: $base1 } /* Name.Property */
  .nt { color: $blue } /* Name.Tag */
  .nv { color: $blue } /* Name.Variable */
  .ow { color: $green } /* Operator.Word */
  .w { color: $base1 } /* Text.Whitespace */
  .mf { color: $cyan } /* Literal.Number.Float */
  .mh { color: $cyan } /* Literal.Number.Hex */
  .mi { color: $cyan } /* Literal.Number.Integer */
  .mo { color: $cyan } /* Literal.Number.Oct */
  .sb { color: $base01 } /* Literal.String.Backtick */
  .sc { color: $cyan } /* Literal.String.Char */
  .sd { color: $base1 } /* Literal.String.Doc */
  .s2 { color: $cyan } /* Literal.String.Double */
  .se { color: $orange } /* Literal.String.Escape */
  .sh { color: $base1 } /* Literal.String.Heredoc */
  .si { color: $cyan } /* Literal.String.Interpol */
  .sx { color: $cyan } /* Literal.String.Other */
  .sr { color: $red } /* Literal.String.Regex */
  .s1 { color: $cyan } /* Literal.String.Single */
  .ss { color: $cyan } /* Literal.String.Symbol */
  .bp { color: $blue } /* Name.Builtin.Pseudo */
  .vc { color: $blue } /* Name.Variable.Class */
  .vg { color: $blue } /* Name.Variable.Global */
  .vi { color: $blue } /* Name.Variable.Instance */
  .il { color: $cyan } /* Literal.Number.Integer.Long */
}
