<script>
  var callback = function(href) {
    return function() {
      var link = document.createElement("link");
      link.rel = "stylesheet";
      link.href = href;
      var head = document.getElementsByTagName("head")[0];
      head.parentNode.insertBefore(link, head);
    };
  };
  var raf = requestAnimationFrame || mozRequestAnimationFrame ||
      webkitRequestAnimationFrame || msRequestAnimationFrame;
  if (raf) {
    raf(callback("/css/hack.css"));
    raf(callback("/css/theinternate.css"));
  } else {
    window.addEventListener("load", callback("/css/hack.css"));
    window.addEventListener("load", callback("/css/theinternate.css"));
  }
</script>
