<script>
(function (window) {
  var doc = window.document,
      fontLink = doc.createElement("link"),
      cssLink = doc.createElement("link"),
      sheets = doc.styleSheets;
  fontLink.rel = "stylesheet";
  fontLink.href = "/css/hack.css";
  fontLink.media = "only x";
  cssLink.rel = "stylesheet";
  cssLink.href = "/css/theinternate.css";
  cssLink.media = "only x";
  function ready(callback) {
    if (doc.body) {
      return callback();
    } else {
      setTimeout(function() { ready(callback) });
    }
  }
  ready(function() {
    var headChildren = doc.getElementsByTagName("head")[0].childNodes,
        before = headChildren[headChildren.length - 1];
    before.parentNode.insertBefore(fontLink, before);
    before.parentNode.insertBefore(cssLink, before);
    fontLink.addEventListener("load", function() { fontLink.media = "all" });
    cssLink.addEventListener("load", function() { cssLink.media = "all" });
  });
})(window);
</script>
