<script>
  WebFontConfig = {
    custom: { families: ['Hack:n4'] },
    active: function() {
      sessionStorage.fontsLoaded = true;
    }
  };
  (function(d) {
    var wf = d.createElement('script'), s = d.scripts[0];
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js';
    s.parentNode.insertBefore(wf, s);

    var cb = function() {
      var l = d.createElement('link'); l.rel = 'stylesheet';
      l.href = '/css/hack.css';
      var h = d.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);
  })(document);
</script>
