<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="//use.typekit.net/hpp8czt.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" type="text/css" href="/css/theinternate.css"></link>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <h1 class="page-title"><a href="/">The Internate</a></h1>
    </header>
    {{ content }}
    <hr/>
    <p><a href="/">The Internate</a> is the personal website of Nate Smith. You should follow me on:</p>
    <ul>
      <li><a href="https://twitter.com/nwjsmith">Twitter</a></li>
      <li><a href="https://github.com/nwjsmith">GitHub</a></li>
      <li><a href="https://speakerdeck.com/nwjsmith">Speaker Deck</a></li>
      <li><a href="https://ca.linkedin.com/in/nwjsmith">LinkedIn</a></li>
    </ul>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '52dfe1d1de2e2625f600026d');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
